.document-img{
	border: 1px solid var(--border-color);
	padding: 0.5rem;
	border-radius: 0.2rem;
}
.document-img img{
	width: 100%;
}
.document-info{
	padding-left: 2rem;
}
.document-info strong{
	font-weight: 600;
}
.document-info ul{
	margin-bottom: 3.2rem;
}
.document-info li{
	padding: 0;
}
.document-info li:after{
	content: none;
}
@media(min-width:768px) and (max-width:991.98px){
	.document-info {
    	padding-left: 0;
    }
    .document-info ul {
    	margin-bottom: 2.4rem;
	}
}
@media(max-width:767.98px){
	.document-info {
    	padding-left: 0;
    	margin-top: 3.2rem;
	}
	.document-info ul {
    	margin-bottom: 2.4rem;
	}
}