.sec-hero{
	position: relative;
	overflow: hidden;
}
.sec-hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.4;
}
.hero-overlay {
    min-height: 55rem;
    padding: 12.8rem 0;
    position: relative;
    background: var(--hero-overlay-color);
}
@media(min-width:1200px) and (max-width:1339.98px){
    .hero-overlay {
        min-height: 52rem;
        padding: 10.8rem 0;
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .hero-overlay {
        min-height: 49rem;
        padding: 9.8rem 0;
    }   
}
@media(min-width:768px) and (max-width:991.98px){
    .hero-overlay {
        min-height: 39rem;
        padding: 7.8rem 0;
    }
}
@media(max-width:767.98px){
    .hero-overlay {
        min-height: 39rem;
        padding: 6.4rem 0;
    }
    .sec-hero br{
        display: none;
    }
}